<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="mt-5 mb-5">
    <div class="row mb-3" style="margin-left: -15px; margin-right: -15px;">
        <div class="col-6" style="padding-left: 0;">
            <a href="/bidList/list">Bid List</a> |
            <a href="/curvePoint/list">Curve Points</a> |
            <a href="/rating/list">Ratings</a> |
            <a href="/trade/list">Trade</a> |
            <a th:if="${#authentication.authorities.iterator().next().authority == 'ADMIN'}"
               href="/ruleName/list">Rule</a>
            <span th:if="${#authentication.authorities.iterator().next().authority == 'ADMIN'}"> | </span>
            <a th:if="${#authentication.authorities.iterator().next().authority == 'ADMIN'}"
               href="/user/list">Users</a>
        </div>

        <div class="col-6 text-right" style="padding-right: 0;">
            Logged in user: <b th:text="${#authentication.authorities.iterator().next().authority}"></b>

            <form th:action="@{/app-logout}"
                  method="post"
                  style="display:inline;">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>